.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 5px solid #072c17;
    border-radius: 5px;
    color: #072c17;
    font-size: large;
    font-weight: bold;
  }
  
  .login h2 {
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  
   button {
    width: 25%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #072c17;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: small;
  }
  
  .login button:hover {
    background-color: #ff6347;
  }
  
  .error-message {
    color: #420202;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
  }
